body {
    background-color: #52D8FD;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#hero {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#idkthisiswhyimnotagoodwebdesigner {
    margin-left: 70px;
    animation: spin 10s linear infinite;
    transform-origin: center center;
}

#content {
    margin-top: 100px;
    min-height: 100vh;
    background-color: #85E3FF;
    padding: 50px;
}

@keyframes spin {
    from { transform: translateY(-850px) rotate(0deg) }
    to { transform: translateY(-850px) rotate(360deg) }
}

.blue {
    font-family: Inter;
    font-weight: 500;
    background-color: #35BAFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.blue:hover {
    background-color: #1E90FF;
}

.thing-wrapper {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}